@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

div {
  display: block;
}

main {
  padding: 10 10 10 10;
  height: 100vh;
}

.header h2 {
  display: inline-flex;
}

.header h1 {
  font-size: 6.5vw;
  margin: 1%;
}
body {
  background-color: gainsboro;
  font-family: 'Fira code', 'Arial Narrow', Arial, sans-serif;
}

.header {
  margin: 0 auto;
  max-width: 85vw;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 20px);
}

.info {
  display: block;
  line-height: 2.5em;
}

.text-colored {
  background: linear-gradient(90deg, #14f1e6, #1f8ef5);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.blended-picture {
  max-width: 95%;
  width: auto;
  height: auto;
  mix-blend-mode: exclusion;
}

.swipe-down {
  position: absolute;
  bottom: 3%;
}
.test-block{
  height: 5000px;
  background-color: #14f1e6;
}